{{> warning}}
{{> error}}

<div class="bs-docs-header" id="content">
      <div class="container">
        <h1>NsqLookupd</h1>
        <p>nsqlookupd是守护进程负责管理Nsq拓扑信息</p>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
            <li class="active"><span class="glyphicon glyphicon-road"></span> NsqLookupd</li>
        </ol>
    </div>
</div>

{{#unless nsqlookupd.length}}
<div class="alert alert-warning">
    <h4>Notice</h4> nsqadmin is not configured with nsqlookupd hosts
</div>
{{else}}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Nsqlookupd Hosts</div>
            <div class="panel-body">
                {{#each nsqlookupd}}
                    <div class="col-md-4 col-sm-12">
                        <div class="lookup_host">{{this}}</div>
                    </div>  
                {{/each}}
            </div>
        </div>
            
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{#if topics}}
        <div class="alert alert-info">
            Below is a tree of Topics/Channels that are currently inactive (i.e. not produced on any nsqd in the cluster but are present in the lookup data)
        </div>
        <ul>
            {{#each topics}}
            <li>
                <button class="btn-link red delete-topic-link" data-topic="{{name}}" style="padding: 0 6px; border: 0;">✘</button> <a class="link" href="/topics/{{name}}">{{name}}</a>
                <ul>
                    {{#each channels}}
                    <li>
                        <button class="btn-link red delete-channel-link" data-topic="{{../name}}" data-channel="{{this}}" style="padding: 0 6px; border: 0;">✘</button> <a class="link" href="/topics/{{../name}}/{{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <div class="alert alert-warning"><h4>Notice</h4>No inactive Topics</div>
        {{/if}}
    </div>
</div>
{{/unless}}
